<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>

<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Logo</a>
        <ul class="left hide-on-med-and-down">
            <li class="active"><a th:href="@{/}">Main</a></li>
            <li><a th:href="@{add-post}">Add Post</a></li>
        </ul>
    </div>
</nav>




<div class="container">

        <ul class="collection">
        <th:block th:each="post : ${list}">
            <h4>
            <li class="collection-item" th:text="${post.tittle}"></li>
            </h4>
            <li class="collection-item" th:text="${post.content}"></li>
            <br>
            <br>
        </th:block>
        </ul>
</div>


    <script type="text/javascript" src="../static/js/materialize.min.js"></script>

</body>
</html>