<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>

<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../static/css/layout.min.css" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Logo</a>
        <ul class="left hide-on-med-and-down">
            <li class="active"><a th:href="@{/}">Main</a></li>
            <li><a th:href="@{add-post}">Add Post</a></li>
        </ul>
    </div>
</nav>
<input type="text" placeholder="Search..">
<button onclick="myFunction()">Click Me</button>

<div id="myDIV">
    This is my DIV element.
</div>



<div class="container">

        <ul class="collection">
        <th:block th:each="post : ${list}">
            <h4>
            <li class="collection-item" th:text="${post.tittle}"></li>
            </h4>
            <li class="collection-item" th:text="${post.content}"></li>
            <br>
            <br>
        </th:block>
        </ul>
</div>

<button class="btnd danger">Danger</button>

<button class="btna dangera">Danger</button>

<button class="buttona">Click Me</button>

<button class="buttonb"><span>Hover </span></button>

<div class="slidecontainer">
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
</div>

<label class="switch">
    <input type="checkbox">
    <span class="slider"></span>
</label>
<label class="switch">
    <input type="checkbox">
    <span class="slider"></span>
</label>
<label class="switch">
    <input type="checkbox">
    <span class="slider"></span>
</label>
<label class="switch">
    <input type="checkbox">
    <span class="slider"></span>
</label>
<br>
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<br>
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
    </div>

</div>

<script>
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<script type="text/javascript" src="../static/js/materialize.min.js"></script>

</body>
</html>