body{
  background-color: grey;
  width: 600px;
  margin: auto;
  border: 5px solid black;
  padding: 5px;
}
a{
  font-size: 50px;
  text-decoration: none;
  color: green;
}
b{
  font-size: 2com;
}
strong{
  font-size: 20px;
}
em{
  font-size: 2in;
}
i{
  font-size: 2em;
}
table{
  border-style: dashed;
}
iframe{
  position: relative;
  left: 200px;
}
.p1 {
  display: block;
  height: 50px;
  width: 500px;
  background-color: blue;
  border: 1px solid black;
}

a:visited
{
  color:maroon;
}

a:active
{
  color:green;
}
#vs{
  font-size: 30px;
  color: white
}

a:hover{
  color: pink;
}

#test{
  color: pink;
}
